[user]
	email = chenbao.cs@qq.com
	name = Merciva
[alias]
	a = add
	s = status
	st = status
	d = diff
	df = diff
	dfs = diff --staged
	co = checkout
	br = branch
	bra = branch --all
	cm = commit
	cmm = commit -m
	cms = commit --squash
	cma = commit --amend
	cmf = commit --fixup
	ll = log --graph
	l = log --oneline --graph
	logl = log --oneline --graph
	rst = reset
	rss = restore --staged
	rs = restore
	cp = cherry-pick
	patch = cherry-pick --no-commit
	pt = cherry-pick --no-commit
	rb = rebase --autosquash -i
[core]
	editor = nvim
[pull]
	rebase = true
[push]
	default = simple
[merge]
	tool = diffview
[mergetool]
	prompt = false
	keepBackup = false
