[user]
	email = chenbao@baidu.com
	name = chenbao
[alias]
	st = status
	df = diff
	dfs = diff --staged
	co = checkout
	br = branch
	bra = branch --all
	cm = commit
	cma = commit --amend
	cmm = commit -m
	logl = log --oneline --graph
	rss = restore --staged
	cp = cherry-pick
[core]
	editor = nvim
[pull]
	rebase = true
[push]
	default = simple
[merge]
	tool = diffview
[mergetool]
	prompt = false
	keepBackup = false
